<% provide(:title, 'Liste des Employés') %>

<h4 class="nav-link"><%= link_to "Add User", signup_path %></h3> 

<%= will_paginate %>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
  	<tr>
  		<th scope="col">#</th>
  		<th scope="col">Nom</th>
  		<th scope="col">Poste</th>
      <th scopre="col">Action</th>
  	</tr>
  </thead>
  <tbody>
  	<% @users.each_with_index do |user, n| %>
  		<tr>
  			<th scope="row"><%= n %></th>
    		<td>
      			<%= link_to user.name, user %>
    		</td>
    		<td>
    			<%= link_to user.occupation, user %>
   		 	</td>
        <% if current_user.admin? && !current_user?(user) %>
          <td>
            <%= link_to "delete", user, method: :delete %>
          </td>
        <% end %>
   		</tr>
  	<% end %>
  </tbody>
</table>

<%= will_paginate %>
